<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Random Joke </h2>
    <section>
        <h2>type : <%=data.type %> </h2>
        <h3>setup : <%=data.setup  %> </h3>
        <h4>punchline : </h4><%= data.punchline %> </h4>

    </section>
</body>
</html>